@tailwind base;
@tailwind components;
@tailwind utilities;

html, body {
	@apply h-screen w-screen text-dullGray bg-crayola overflow-hidden;
}

main {
	@apply px-8 xl:px-16 mt-5 h-[calc(100%-6.2rem)]
}

li {
	@apply flex items-center gap-3 mt-4 cursor-pointer transition-all duration-200 hover:text-royalBlue
}

@layer utilities {
	.h-calc {
		height: calc(100% - 16px);
	}
}

input:-webkit-autofill,
input:-webkit-autofill:hover,
input:-webkit-autofill:focus,
input:-webkit-autofill:active {
	-webkit-box-shadow: 0 0 0 1000px white inset !important;
	box-shadow: 0 0 0 1000px white inset !important;
	-webkit-text-fill-color: #000 !important;
}
input::-ms-reveal {
	display: none;
}

.custom-range {
	width: 100%;
	height: 1px;
	background: #cbcbcb;
	border-radius: 8px;
	appearance: none;
	cursor: pointer;
	&::-webkit-slider-runnable-track {
		height: 1px;
		border-radius: 8px;
	}
	&::-moz-range-track {
		height: 1px;
		border-radius: 8px;
	}
	&::-webkit-slider-thumb {
		appearance: none;
		width: 10px;
		height: 10px;
		background: #1B89D3;
		border-radius: 50%;
		cursor: pointer;
		margin-top: -4px;
	}
	&::-moz-range-thumb {
		width: 10px;
		height: 10px;
		background: #1B89D3;
		border-radius: 50%;
		cursor: pointer;
	}
}

.custom-scrollbar {
	overflow-y: auto;
}

.custom-scrollbar::-webkit-scrollbar {
	width: 3px;
}
.custom-scrollbar::-webkit-scrollbar-thumb {
	background-color: #cbcbcb;
	border-radius: 10px;
}
.custom-scrollbar::-webkit-scrollbar-track {
	background: transparent;
}
.custom-scrollbar::-webkit-scrollbar-button {
	display: none;
}

@keyframes spin {
	0% { transform: rotate(0deg); }
	100% { transform: rotate(360deg); }
}

.spinner {
	border: 4px solid #f3f3f3; /* Серый фон */
	border-top: 4px solid royalblue; /* Синяя полоска */
	border-radius: 50%;
	width: 20px;
	height: 20px;
	animation: spin 1s linear infinite;
}




 .custom-grand {
	 background: rgb(255,255,255);
	 background: linear-gradient(180deg, rgba(255,255,255,0) 0%,
			 rgba(0,0,0,0.3449754901960784) 30%,
			 rgba(0,0,0,1) 100%);
 }

.custom-adp {
	width: 150px;
	height: 150px;
	border-radius: 10px;
	cursor: pointer;
}

@media (min-width: 1024px) {
	.custom-adp {
		width: 250px;
		height: 150px;
	}
}

@media (max-width: 1971px) {
	.custom-adp {
		width: 220px;
		height: 150px;
	}
}

@media (max-width: 1777px) {
	.custom-adp {
		width: 150px;
		height: 150px;
	}
}

@media (max-width: 1535px) {
	.custom-adp {
		width: 250px;
		height: 150px;
	}
}

@media (max-width: 1505px) {
	.custom-adp {
		width: 250px;
		height: 150px;
	}
}

@media (max-width: 1509px) {
	.custom-adp {
		width: 250px;
		height: 150px;
	}
}

@media (max-width: 1345px) {
	.custom-adp {
		width: 150px;
		height: 150px;
	}
}

@media (max-width: 803px) {
	.custom-adp {
		width: 200px;
		height: 150px;
	}
}

@media (max-width: 779px) {
	.custom-adp {
		width: 170px;
		height: 150px;
	}
}

@media (max-width: 693px) {
	.custom-adp {
		width: 150px;
		height: 150px;
	}
}

@media (max-width: 634px) {
	.custom-adp {
		width: 210px;
		height: 150px;
	}
}

@media (max-width: 589px) {
	.custom-adp {
		width: 190px;
		height: 150px;
	}
}

@media (max-width: 545px) {
	.custom-adp {
		width: 150px;
		height: 150px;
	}
}

@media (max-width: 446px) {
	.custom-adp {
		width: 100px;
		height: 100px;
	}
}

@media (max-width: 446px) {
	.songCustAdupt {
		width: 100px;
		height: 100px;
	}
}

.custom-shadow {
	-webkit-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
	-moz-box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
	box-shadow: 4px 4px 8px 0 rgba(34, 60, 80, 0.2);
}

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
	-webkit-appearance: none;
	margin: 0;
}

input[type="number"] {
	-moz-appearance: textfield; /* Для Firefox */
}



@keyframes spin {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}

@keyframes blink {
	0%, 100% {
		opacity: 1;
	}
	50% {
		opacity: 0;
	}
}

.loading-spinner {
	border: 6px solid #f3f3f3; /* Серый фон */
	border-top: 6px solid royalblue; /* Синяя полоска */
	border-radius: 50%;
	width: 50px;
	height: 50px;
	animation: spin 1.5s linear infinite;
	margin: 0 auto; /* Выравнивание по центру */
}

.loading-text {
	margin-top: 10px;
	font-size: 18px;
	font-weight: bold;
	color: #333;
	text-align: center;
}

.loading-dots {
	display: inline-block;
	margin-left: 5px;
	color: #1B89D3;
}

.loading-dots span {
	animation: blink 1s infinite;
	animation-delay: calc(0.2s * var(--i)); /* Разная задержка для каждой точки */
}

.loading-dots span:nth-child(1) {
	--i: 1;
}

.loading-dots span:nth-child(2) {
	--i: 2;
}

.loading-dots span:nth-child(3) {
	--i: 3;
}
